#myImage{
text-align: center;
 border-radius: 20px;
}

.section-title h1{
    text-align: center;
   
}

.fa-bootstrap{
    color: purple;
}
.fa-html5{
    color: orangered;
}
#cclogo{
  height: 140px;
  width: 130px;
  margin-top: 10px;
}
#clogo{
  height: 140px;
  width: 140px;
  margin-top: 10px;
}
.fa-css3-alt{
    color: blue;
}
.fa-js{
    color: yellow;
}
#about{
    height: 100vh;
}

.row{
    text-align:center;
    margin:0 auto;
}

.row .col-md-6{
   display:inline-block;
   vertical-align: middle;
   float: none;
} 
.skillset .icon-box {
    text-align: center;
    background: rgba(204, 204, 204, 0.1);
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    border-radius: 20px;
  }
  
  .skillset .icon-box:hover {
    background: #b407f8;
    border-color: #66776e;
  }

#skillset{
    height: 100vh;
}
.icon-box{
    margin-left: 1000px;
    padding-left: 1000px;
}
.row1,.row2{
 text-align: center;
}
.container{
    float: none;
}
.row1{
    text-align:center;
    margin:0 auto;
}

.row1 .col-md-3{
   display:inline-block;
   vertical-align: middle;
   float: none;
   
}
.col-md-3{
    margin: 30px;
}
#projects{
    margin-top: 100px;
    height: 100vh;
}
.contact{
height: 100vh;
}


/* 
contact starting */

#contact{
    background-color:#6f8c84;    
}

#contact .row{
    color:white;
    text-align:right;
    padding:30px;
}

#contact h2{
    font-weight: lighter;
    font-size: 2.5rem;
    line-height: 1.5;
    padding-bottom:5px;
    padding-top:0px;
}

#contact label{
    padding-top:5px;
    padding-bottom:5px;
}

.contact-content{
    padding:30px;
}
.contact-form{
    padding:30px;
}

.form-row{
    padding:5px;
}

.form-control{
    border-radius:0px;
}

.btn{
    border-radius:0px;
    margin-top:15px;
}
